.category {
    border-style: solid;
    border-radius: 15px;
    margin: 25px;
    padding: 10px;
    background-color: darkcyan;
    height: 600px;
    
}

.systemInfo {
    border-style: solid;
    border-radius: 15px;
    margin: 25px;
    padding: 10px;
    background-color: darkcyan;
    height: 450px;
}

.selectedComponent {
    height: 425px;
    width: 280px;
    display: inline-grid;
    background-color: rgba(255,255,255,.6);
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
}

.selectedComponentButton {
    text-align: center;
}

.selectButton {
    text-align: right;
    vertical-align: text-bottom;
}

h1 {
    padding: 20px;
}

.selectCategoryButtons {
    text-align: center;
}