/* .body {
    display: inline-grid;
} */

.component {
    height: 425px;
    width: 280px;
    display: inline-grid;
    background-color: darkcyan;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    
}

 img {
    border-style: solid;
    border-radius: 5px;
    height: 115px;
    width: auto;
    padding: 0px;
}

.chooseComponentsButton {
    text-align: center;
}